html,
body {
  font-family: sans-serif;
}

.actions {
  display: flex;
  align-items: 'stretch';
  justify-content: flex-end;
  background-color: #ddd;
  border-bottom: 1px solid gray;
  padding: 0.25em 0.5em;
  font-size: 80%;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  margin: 0;
  padding: 2px;
  background: transparent;
  color: black;
}
.action:focus {
  border-bottom-color: black;
}
.action:active {
  color: #666;
}

.button {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #08e;
  color: white;
  outline: none;
  border: none;
  line-height: 2.5;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 120%;
  cursor: pointer;
}
.button:focus {
  text-decoration: underline;
}
.button:active {
  background: black;
  text-decoration: none;
}
.button.button--disabled {
  background: gray;
  text-decoration: none;
  cursor: default;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .form {
    flex-direction: column;
    flex-wrap: none;
  }
}

.input {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  background-color: #eee;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .input {
    flex-basis: 65%;
  }
}

.list {
  flex: 1 1 100%;
  min-height: 0;
  overflow: auto;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1 1 50%;
  background: black;
}
@media only screen and (max-width: 640px) {
  .output {
    flex-basis: 35%;
  }
}
.output__content {
  justify-content: center;
  align-items: center;
}

.page {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}
@media only screen and (max-width: 640px) {
  .page {
    flex-direction: column;
  }
}

.result {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: -1px;
  line-height: 1.333em;
  padding: 0.5em 1em;
  background: white;
}
.result__start {
  flex: 1 1 100%;
  min-width: 0;
}
.result__end {
  flex: 1 0 auto;
  font-family: monospace;
}
.result__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.result__library {
  font-weight: bold;
}
.result__time-primary {
  font-weight: bold;
  font-size: 150%;
}
.result__time-secondary {
  font-size: 90%;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  box-sizing: border-box;
  flex: 1 1 0;
  background-color: white;
  min-width: min(100%, 16em);
  max-width: 100%;
  padding: 0.25em;
  outline: none;
  border: none;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0.5em;
}
.select__label {
  display: block;
  font-size: 80%;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  padding: 0;
  font-size: 120%;

  -moz-appearance: none;
  -webkit-appearance: none;
}
.select__input::-ms-expand {
  display: none;
}
.select__input:focus {
  text-decoration: underline;
}

.separator {
  height: 8px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background: #ddd;
}
